.slides {
    max-width: 86%;
}
.logo-img {
    height: 65px;
    object-fit: cover;
    background-color: #c9a0dc;
}
.slides-img {
    height: 400px;
    object-fit: cover;
}
.call-to-action {
    background-color: #fbbbbd;
    color: #663399;
}
header {
    background-color: #c9a0dc;
}
.heading-line {
    height: 3px;
    width: 80%;
    background-color: #ffd15c;
}
.carousel-caption {
    color: #663399;
    background-color: #c9a0dccc;
}